# デフォルトの無視ファイル
/shelf/
/workspace.xml
# データソースのローカルストレージがファイルを無視しました
/../../../../../../../:\Users\guohe\Desktop\docforce2-master\docforce2-master\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
